@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/*X buscador */
.close-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    cursor: pointer;
}


.wrapper {
    width: 260px;
    margin: 10px;
}

.select-btn,
.options li {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.select-btn {
    height: 40px;
    padding: 0 20px;
    border-radius: 7px;
    background: #fff;
    justify-content: space-between;
}

.select-btn i {
    transition: transform 0.1s linear;
}

.wrapper.active .select-btn i {
    transform: rotate(-180deg);
}

.content {
    position: absolute;
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 7px;
    background: #fff;
}

.wrapper.active .content {
    display: block;
}

.content .search {
    position: relative;
}

.search i {
    left: 12px;
    line-height: 38px;
    pointer-events: none;
    position: absolute;
}

.search input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 0 15px 0 40px;
    border: 1px solid #b3b3b3;
}

.content .options {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    max-height: 250px;
    width: 100%;
    overflow-y: auto;
}

.options::-webkit-scrollbar {
    width: 7px;
}

.options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 25px;
}

.options li {
    height: 40px;
    width: 97%;
    padding: 0px 10px;
    border-radius: 5px;
}

.options li:hover,
li.selected {
    background: #f2f2f2;
}


.wrapper1 {
    width: 260px;
    margin: 10px;
}

.select-btn1,
.options1 li {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.select-btn1 {
    height: 40px;
    padding: 0 20px;
    border-radius: 7px;
    background: #fff;
    justify-content: space-between;
}

.select-btn1 i {
    transition: transform 0.1s linear;
}

.wrapper1.active .select-btn1 i {
    transform: rotate(-180deg);
}

.content1 {
    position: absolute;
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 7px;
    background: #fff;
}

.wrapper1.active .content1 {
    display: block;
}

.content1 .search {
    position: relative;
}

.content1 .options1 {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    max-height: 250px;
    width: 100%;
    overflow-y: auto;
}

.options1::-webkit-scrollbar {
    width: 7px;
}

.options1::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options1::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 25px;
}

.options1 li {
    height: 40px;
    width: 97%;
    padding: 0px 10px;
    border-radius: 5px;
}

.options1 li:hover,
li.selected {
    background: #f2f2f2;
}


/*TEXTO*/

.texto-contenedor-principal {
    display: flex;
    height: 60px;
    width: 250px;
    align-items: center;
}

.tabulador-izq {
    margin-left: 1rem;
}

/*AVISO*/
.aviso-predio {
    font-size: 1.25rem;
    margin: 0.2rem;
}


/*SECCION SUPERIOR*/
.seccion-superior-borde {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 25vh;
    /*ALTURA*/
    background-color: var(--color-fondo);
    border: 1px solid var(--blue-navy-clrclr);
    border-radius: 5px;
    width: 95%;
}

/*SECCIÓN DE LA TABLA Y TABLA*/

/*INCLUYE TODA LA SECCIÓN Y LA TABLA INTERNA*/
.seccion-tabla-borde {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 50vh;
    /*TAMAÑO MIN DE LA SECCION*/
    background-color: rgb(244, 244, 244);
    border: 1px solid var(--blue-navy-clrclr);
    border-radius: 5px;
    width: 95%;
    /*% DEL ANCHO*/

    display: flex;
    flex-direction: column;
    /*Establece la dirección principal del contenedor a vertical, para que los elementos se apilen uno encima del otro.*/
    justify-content: flex-start;
    /*VERTICAL Alinea los elementos, de este contenedor,
     en el eje principal (vertical) hacia la parte superior del contenedor.*/
    align-items: center;
    /*HORIZONTAL Centra los elementos, de este contenedor, 
    en el eje transversal (horizontal) dentro del contenedor.*/

}

.container-tabla {
    display: flex;
    justify-content: center;
}

.tabla-principal {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
}

.tabla-principal table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-principal th,
.tabla-principal td {
    padding: 8px;
    text-align: center;
    /* Cambio a centrado */
    border-bottom: 1px solid #ddd;
}

.tabla-principal th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tabla-principal tbody tr:last-child td {
    border-bottom: none;
}

.cuadrado-registro-casa {
    width: 20px;
    height: 20px;
    background-color: #717171;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

/**/