<!-- BARRA DE NAVEGACIÓN -->
<nav>
  <div class="navbar">
      <a class="navbar-a" href="/"><b>CONDOSA</b></a>
      <p class="navbar-p">Generar recibos de mantenimiento</p>
  </div>
</nav>
<app-funciones-principales></app-funciones-principales>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="div card">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <th scope="col">ID</th>
              <th scope="col">Predio</th>
            </thead>
            <tbody>
              <tr *ngFor="let predio of predioArray">
                <td>{{ predio.id_predio }}</td>
                <td>{{ predio.predio }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="div card"></div>
    </div>
  </div>
</div>


