<div class="seccion-principal-fondo">
  <!-- UNICA FILA PRINCIPAL, Ambos forman una CELDA-->
  <div class="seccion-registrarpredio-borde">
    <div class="col">
      <div class="row">
        <div class="row" style="height: 50vh;">
          <div class="col" style="width: 50%;">
            <span>PRIMERA FILA -  Columna 1</span>
          </div>
          <div class="col" style="width: 50%;">
            <span>PRIMERA FILA -  Columna 1</span>
          </div>
        </div>
        <div class="row" style="height: 10vh;">
          <span>SEGUNDA FILA</span>
        </div>
      </div>
    </div>
  </div>
</div>