<div class="subseccion-titulo">
  <p class="mp-0"><b>
      Registrar gastos del predio
    </b></p>
</div>
<div class="subseccion-1">
  <div style="margin: 1rem;">
    <div class="columna-2">
      <div class="cont-2">
        <div class="text-center-v">
          <div style="margin: 0; padding: 0;">
            <div class="textoPricipal mp-0">
              <p class="textoPricipal mp-0"><b>GASTOS PREDIO</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="cont-2 flexy" style="justify-content: right;">
        <div class="mp-0" style="width: 36.48px; align-items: center;">
          <button type="button" class="btn btn-outline-danger" (click)="set_mostrarRegistroPredio(false)">
            <span class="bi bi-x">X</span>
          </button>
        </div>
      </div>
    </div>
    <div class="columna-2">
      <div class="cont-2">
        <div class="flexy">
          <div class="text-center-v">
            <div style="margin: 0; padding: 0;">
              <div class="tab-1 textoPricipal mp-0">
                <p class="textoPricipal mp-0">Predio</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flexy">
          <div class="text-center-v">
            <div style="margin: 0; padding: 0;">
              <div class="tab-1 textoPricipal mp-0">
                <p class="textoPricipal mp-0">Tipo de gasto</p>
              </div>
            </div>
          </div>
          <select name="tipogasto" class="form-select" style="width: 35%; height: 40px;">
            <option>--seleccione--</option>
            <option *ngFor="let gasto of listaTipoGasto">
              {{gasto}}
            </option>
          </select>
        </div>
        <div class="flexy">
          <div class="text-center-v">
            <div style="margin: 0; padding: 0;">
              <div class="tab-1 textoPricipal mp-0">
                <p class="textoPricipal mp-0">Descripción</p>
              </div>
            </div>
          </div>
          <select name="descrip" class="form-select" style="width: 35%; height: 40px;">
            <option>--seleccione--</option>
            <option *ngFor="let desc of listaDescripcion">
              {{desc}}
            </option>
          </select>
        </div>
        <div class="flexy">
          <div class="text-center-v">
            <div style="margin: 0; padding: 0;">
              <div class="tab-1 textoPricipal mp-0">
                <p class="textoPricipal mp-0">Monto total</p>
              </div>
            </div>
          </div>
          <input type="number" name="monto_predio" id="monto_predio" placeholder="S/." class="form-control"
            style="width: 35%; height: 40px;">
        </div>
        <div class="flexy" style="align-items: center; justify-content: left;">
          <button type="submit" class="btn btn-primary" style="width: 100px; height: 40px">
            Registrar
          </button>
        <br>
        <br>
        <br>
        </div>
        <div style="width: 50px; height: 40px;">
          <button type="submit" class="btn btn-primary" style="width: 250px; height: 40px;">
            Asignar del mes anterior
          </button>
        </div>
      </div>
      <div class="cont-2">
        <div class="text-center-v">
          <div style="margin: 0; padding: 0;">
            <div class="tab-1 textoPricipal mp-0">
              <p class="textoPricipal mp-0">Gastos registrados del predio</p>
            </div>
          </div>
        </div>
        <div class="tab-3" style="margin-right: 4rem;">
          <div class="contenedor-tabla">
            <div class="tabla-gastos">
              <table>
                <thead>
                  <tr>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let gasto of gatosRegistrados">
                    <td>{{ gasto.TipoGasto}}</td>
                    <td>{{ gasto.Monto }}</td>
                    <td>
                      <button type="submit" class="btn btn-primary" style="width: 70px; height: 35px;">
                        Editar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 1rem;">
    <div class="flexy" style="align-items: center; justify-content: center; padding-top: 20px;">
      <button type="submit" class="btn btn-primary" style="width: 200px; height: 40px;"
        (click)="finalizarRegistroPredio()">
        Finalizar registro
      </button>
    </div>
  </div>
</div>