
<div class="seccion-principal-fondo">
  <div class="seccion-superior-borde">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div style="display: flex;">
            <div class="texto-contenedor-principal">
              <p class="textoPricipal tabulador-izq">
                Predio
              </p>
            </div>
            <div>
              <div class="envoltura" [ngClass]="{'active': isActivePredios}">
                <div class="select-btn" (click)="toggleActivePredios()">
                  <span>{{selectedItemPredios}}</span>
                  <i class="uil uil-angle-down"></i>
                </div>
                <div class="combobox-recuadro">
                  <div class="buscar">
                    <i class="uil uil-search"></i>
                    <input type="text" placeholder="Buscar Predio" [(ngModel)]="searchValuePredios"
                      (keyup)="filterItemsPredios()">
                    <span class="buscador-cerrar" (click)="closeComboboxPredios()">&times;</span>
                  </div>
                  <ul class="opciones">
                    <li *ngFor="let item of filteredItemsPredios" (click)="selectItemPredios(item)"
                      [ngClass]="{'selected': item === selectedItemPredios}">
                      {{item}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div style="display: flex;">
            <div class="texto-contenedor-principal">
              <p class="textoPricipal tabulador-izq">Periodo</p>
            </div>
            <div>
              <div class="envoltura1" [ngClass]="{'active': isActiveMeses}">
                <div class="combobox-cuerpo1" (click)="toggleActiveMeses()">
                  <span>{{selectedItemMeses}}</span>
                  <i class="uil uil-angle-down"></i>
                </div>
                <div class="combobox-recuadro1">
                  <div class="buscar">
                    <i class="uil uil-search"></i>
                    <input type="text" placeholder="Periodo de la cuota" [(ngModel)]="searchValueMeses"
                      (keyup)="filterItemsMeses()">
                    <span class="buscador-cerrar" (click)="closeComboboxMeses()">&times;</span>
                  </div>
                  <ul class="opciones1">
                    <li *ngFor="let item of filteredItemsMeses" (click)="selectItemMeses(item)"
                      [ngClass]="{'selected': item === selectedItemMeses}">
                      {{item}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div style="display: flex;">
            <div class="texto-contenedor-principal">
              <p class="textoPricipal tabulador-izq">Presidente predio</p>
            </div>
            <div class="texto-contenedor-principal">
              <p style="margin: 0 0 0 10px;">{{presidente}}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 d-flex align-items-center justify-content-center">
          <p class="textoPricipal text-center" [ngStyle]="{ color: estadoRegistroPredioSelected === 'finalizado' ? 'green' : 'red' }">
            {{ estadoRegistroPredioSelected === 'finalizado' ? 'Gastos del Predio registrados!' : 'Gastos del Predio no registrados!' }}
          </p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div>
            <div class="row">
              <div class="col d-flex justify-content-end align-items-center">
                <div class="texto-contenedor-principal" style="justify-content: center">
                  <p class="textoPricipal">Acciones</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" (click)="cambiarEstadoRegistroPredio(true)"
                        style="width: 250px; height: 40px;">Registrar gastos de predio</button>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" (click)="cambiarEstadoRegistroCasa(true)"
                style="width: 250px; height: 40px;">
                  Registrar gastos de casa</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="seccion-principal-fondo">
  <div class="seccion-tabla-borde">
    <div class="contenedor-tabla">
      <div class="tabla-principal">
        <table>
          <thead>
            <tr>
              <th>Nro. Casa/habitación</th>
              <th>Bloque</th>
              <th>Propietario</th>
              <th>Categoría</th>
              <th>Área casa(m2)</th>
              <th>Cochera1(m2)</th>
              <th>Área total</th>
              <th>% Participación</th>
              <th>Estado</th> <!-- Nueva columna -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dato of datosTabla">
              <td>{{ dato.nroCasa }}</td>
              <td>{{ dato.bloque }}</td>
              <td>{{ dato.propietario }}</td>
              <td>{{ dato.categoria }}</td>
              <td>{{ dato.areaCasa }}</td>
              <td>{{ dato.cochera1 }}</td>
              <td>{{ dato.areaTotal }}</td>
              <td>{{ dato.participacion }}</td>
              <td>
                <div class="cuadrado-registro-casa" [style.backgroundColor]="cuadradoColor"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrarRegistrarGPredios">
  <app-registrar-gasto-predio (mostrarRegistroPredio)="cambiarEstadoRegistroPredio($event)"
  (estadoRegistroPredio)="finalizarRegistroPredio()"
  ></app-registrar-gasto-predio>
</div>
<div *ngIf="mostrarRegistrarGCasa">
  <app-registrar-gasto-casa (mostrarRegistroCasa)="cambiarEstadoRegistroPredio($event)">
  </app-registrar-gasto-casa>
</div>
